/basics/node_modules
/bmicalculator/node_modules
/calculator/node_modules
/coordinates/node_modules
/hyukho-server
/notes-app/node_modules
/query-string/node_modules
/serve-index/node_modules
/weather-app/node_modules
/web-server/node_modules